*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    /* background: linear-gradient(to right bottom, rgba(2,28,68,1) 34%, rgba(85,3,3,1) 84%); */
    /* background: url("/images/Image1.jpg") no-repeat right center; */
    background-image: linear-gradient(to left, rgba(0,0,0,0.3)20%, rgba(0,0,0,0.3)), url("/images/Image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    /* background-color: #fff; */
    background-color: transparent;
}
.logo{
    height: 80px;
    display: flex;
    justify-content: flex-start;
    /* background-color: #fff; */
    color: #fff;
}
.logo h1{
    margin: 20px;
    height: 50px;
}
.video{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video_content{
    height: 69vh;
    width: 290px;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
}
.font_icons{
    position: absolute;
    bottom: 10px;
    right: 2px;
    /* background: #fff; */
    /* border: none; */
    border-radius: 50%;
    display: flex;
    flex-direction: column;
}
footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #fff ;
    /* background-image: linear-gradient(to left, rgba(0,0,0,0.3)20%, rgba(0,0,0,0.3)); */
    display: flex;
    justify-content: space-around;
}
.icon{
    font-size: 30px;
    color: #000;
    margin: 10px;
    transition: 0.5s;
}
.icon1{
    font-size: 30px;
    margin: 20px;
    color: #fff;
}
.icon:hover{
    scale: 1.5;
}
.icons{
    font-size: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
    background: rgba(255,255,255,0.6);
    border-radius: 50%;
    padding: 7px;
}
.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
  }
  
  .fa:hover {
    color: darkblue;
  }
  .video_content img{
      height: 100%;
      width: 100%;
      overflow: hidden;
     border-radius: 20px;
  }
  .active{
      color: #fff;
      background-color: #000;
  }
  .comment{
      height: 69vh;
      width: 290px;
      background-color: #fff;
      position: absolute;
      top: 125px;
      right: 280px;
      border-radius: 20px;
      visibility: hidden;
      opacity: 0;
  }
  .show{
    visibility: visible;
    opacity: 1; 
  }
 #picon{
      height: 20px;
      border-radius: 50%;
  }
  .modal-header{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .modal-header h1{
      text-align: center;
  }
  .modal-body .card{
    position: relative;
    width: 400px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    margin: auto;
    padding: 10px;
    overflow: hidden;
    /* background-color: #fff; */
}
.imgBx{
    position: absolute;
    left: 50%;
    /* top: -10px; */
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;
}
.imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .content{
    position: absolute;
    padding-top: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
}
.card .content .data{
    display: flex;
    width: 100%;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: left;
    font-weight: 550;
    /* font-size: 1.2rem; */
    padding: 0px 2rem;
    line-height: 1.4rem;
    transform: translateY(2.5rem);
}
.ingredient_container .card .content .data .data_left{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.ingredient_container .card .content .data .data_right{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.community_btn{
    background-color: #fff;
    border: none;
}
.community_btn .icon{
    margin: 2px;
}
.community_btn:hover{
    background-color: #fff;
    border: none;
}


